

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}

button {
  cursor: pointer;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;

}

.nav-wrapper{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.brand-img{
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.navbar button{
      background: transparent;
      border: none !important;

}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    max-width: 250px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 22px;
    position: relative;
}



.content{
  display: flex;
  padding: 5%;
}
.originalWrap{
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.original{
display: flex;
justify-content: center;

max-width: 100%;
max-height: 100%;
min-width: 100%;
min-height: 100%;

}
.original img{
  border-style: solid;
  border-width: thin;
}
#mashes {
  width: 100%;
  min-height: 100vh;
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 20vw);
  grid-auto-rows: 20vw;
  grid-gap: 2px;
  justify-content: center;
}
.project {


  position: relative;
  background: #efefef;
  overflow: hidden;

}
.project__image {
    position: absolute;
    opacity: 0.9;

    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: block;

  }
  p {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 3;
  }
  .grid__title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    z-index: 3;
    text-transform: uppercase;
    color: #474545;
    letter-spacing: 2px;
  }



.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background-color: #C65EF2;
  opacity: .7;
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  transform: translateY(101%);
  transition: 0.3s;
  transition-timing-function: ease-in-out;

}

.grid_overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px;

}
.grid_overlay hover{

    transition: 0.3s;
    transition-timing-function: ease-in-out;

    background-color: #D1A39E;
    transform: scale(1.05);

}

.grid_overlay h1{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: auto;
}
/*project popup overlay*/

.overlay {
  position: fixed;
  background: rgba(#474545, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-content: center;
}

.overlay__inner {
  background: white;
  width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.close hover{

    color:  #D1A39E;

}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-left: 1px solid #dbdbdb;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #8b8b8b;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c7c7c7;
    display: block;
    transition: 0.3s;
}

.sidenav b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    padding-right: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ffffff;}

@media (max-width: 1300px){
    .search-box{
        display: none;
    }
}

@media (max-width: 1000px){
    .nav-wrapper{
        width: 90%;
    }
    .wrapper{
        width: 90%;
    }
}
