*{
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;

}

:root{
  --body-color:#f2f2f2;
  --nav-color:#ffffff;
  --sidenav-color:#ffffff;
  --post-color:#ffffff;
  --post-maker-text:#000;
  --post-title-text:#000;
  --post-stamp-text:rgba(0, 0, 0, 0.5);
  --drop-down-color:#ffffff;
  --drop-down-text:#000;
}

.dark-theme{
  --body-color:#374045;
  --nav-color:#4B5D67;
  --sidenav-color:#4B5D67;
  --post-color:#4B5D67;
  --post-maker-text:#8b8b8b;
  --post-title-text:#8b8b8b;
  --post-stamp-text:#8b8b8b;
  --drop-down-color:#4B5D67;
  --drop-down-text:#8b8b8b;
}

body{
  background: var(--body-color);
  transition: background 0.3s;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
  border-bottom: 1px solid #dbdbdb;;

}

.logo{
  width: 100px;
  height: 50px;

}
.optionsButton{
  width: 110px;
  height: 100px;
  cursor: pointer;
}
.nav-left{
  display: flex;
  align-items: center;
}

.nav-center{
  display: flex;
  align-items: center;
}

.nav-right{
  display: flex;
  align-items: center;
  height: 22px;
  position: relative;

}

.nav-right button{
  background: transparent;
  border: none !important;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.username{
  color: var(--post-title-text);
  font-size: 18;
  font-family: sans-serif;

}
.container{
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
}
.main-content{
  flex-basis:45%;
  background: var(--body-color);

}

.profile-bar{

  flex-basis:45%;
  background: var(--post-color);
  top: 70px;
  position: sticky;
  align-self: flex-start;
  border-radius: 10px;
  border-bottom: 1px solid #dbdbdb;

}

.main-profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px 2%;
}

.main-profile h1{
  margin-bottom: -5px;
  font-weight: bold;
  color: var(--post-title-text);
  padding: 10px 5%;
}

.main-profile h2{
  margin-bottom: -5px;
  font-weight: bold;

  padding: 10px 5%;
}

.main-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: var(--post-title-text);
  font-size: 14px;
  padding: 5%;
}

.stats-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

.write-post-container{
  width: 100%;
  background: var(--post-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--post-title-text);
  border: 1px solid #dbdbdb;

}

.user-profile{
  display: flex;
  align-items: center;
  padding: 2% 0;
}
.user-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: bold;
  color: var(--post-title-text);
}

.user-profile small {
  font-size: 12px;
}

.post-input-container{
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;

}
.post-container{
  width: 100%;
  background: var(--post-color);
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding: 2% 2%;
  color: var(--post-title-text);
  margin: 20px 0;
}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a
}

.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.post-text a {
  color: #1876f2;
  text-decoration: none;
}
.post-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid #dbdbdb;
}
.post-row{

      width: 100%;
      height: 50px;
      display: flex;
      margin-top: -20px;
      align-items: center;

      padding: 2% 0;

  }

  .post-row .icon{
      height: 25px;
      margin: 0;
      margin-right: 20px;

  }



  .post-row button{
    padding-top: 10%;
    background: transparent;
    border: none !important;
  }

.post-profile-icon{
  display: flex;
  align-items: center;
}

.post-profile-icon img{
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.likes{
    font-weight: bold;
}
.description{
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    /*border-radius: 1px solid #dfdfdf;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 2.5%;
    background: none;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #ae00ff;
    opacity: 0.5;
}
.load-more-button{
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;

}

.options-menu{
  position: absolute;
  width: 90%;
  max-width: 350px;
  /*height: 500%;*/
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;

}

.options-menu-height{
  max-height: 450px;
}

.user-profile a{
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.options-menu-inner{
  padding: 20px;

}

.options-menu hr{
  bottom: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;

}

.post-imgcont{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.post-image{
    width: 90%;
    height: 90%;
    object-fit: cover;
    align-self: left;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    overflow: hidden;
}

.post-mashes {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 1%;
    object-fit: cover;
    align-self: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.post-mash{
    width: 98%;
    height: 98%;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.post-details{
  margin-left: 75%;
}
.post-details img{
  height: 40%;
  width:40%;

}
.post-details button{
cursor: pointer;
padding-top: 10%;
background: transparent;
border: none !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--sidenav-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-left: 1px solid #dbdbdb;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #8b8b8b;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c7c7c7;
  display: block;
  transition: 0.3s;
}

.sidenav b {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
