<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post | Mashbook</title>
    <link rel="stylesheet" href="/newsfeed_style.css">
    <link rel="icon" href="/images/favi.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;600&family=Libre+Baskerville&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="/images/logograd.PNG" class="brand-img" alt="">  
            <div class="nav-items">

                <button onclick="location.href='/newsfeed'" class="icon"><img src="/images/home.PNG" class="icon"
                        alt=""></button>

                <button onclick="location.href='/post';" class="icon"><img src="/images/add.PNG" class="icon"
                        alt=""></button>

                <button onclick="" class="icon"><img src="/images/like.PNG" class="icon" alt=""></button>

                <button onclick="location.href='/settings';" class="icon"><img src="/images/option.PNG" class="icon"
                        alt=""></button>

                <button onclick="location.href='/profile';" class="icon user-profile"></button>

            </div>
        </div>
    </nav>

    <section class="main">
        <div class="upload-wrapper">
            <div class="upload">
                <form method="POST" action="/upload" enctype="multipart/form-data" class="upload-form">
                <p class="upload-title">Upload File:</p>
                        <input type="file" name="myFile" required />
                        
  <p class="upload-title">Mashup Title:</p>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" name="mashupTitle" placeholder="Enter Title" required>   
    </div>
  </div>

  <p class="upload-title">Mashup Description:</p>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" name="mashupDescription" placeholder="Enter Description" required> 
    </div>
  </div>
  
  <input type="submit" />
</form>

                {{#if message}}
                <p>{{message}}</p>
                {{/if}}
            </div>
        </div>
    </section>
</body>

</html>