body {
    background-color: #f2ebfb;
    color: #212529;
    font-family: "Barlow Condensed", sans-serif;
  }

  .btn {
    /* border-radius: 0.25rem; */
    border-radius: 0rem;
  }
  .navbar-brand {
    font-size: 21px;
    font-weight: 700;
  }
  .nav-link {
    font-weight: 700;
    /* font-size: 1.25rem; */
    font-size: 21px;
  }
  .btn-outline-light {
    font-weight: 550;
    font-size: 19px;
  }
  input[type="search"] {
    border-radius: 0rem;
    font-size: 18px;
    font-weight: 600;
  }
  input[type="search"]::placeholder {
    color: #cdcdcd;
  }
  form .me-2 {
    margin-right: 1rem !important;
  }

  nav {
    background-color: #cd6cf7 !important;
  }
  .navbar {
    padding: 1rem 1rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
  }
  .foryou-weekly {
    margin: 2rem;
  }
  .foryou-weekly button {
    background: white;
    border: 1px solid #dddddd;
    color: #212529;
    padding: 0.475rem 2.25rem;
    /* padding: 0.375rem 0.75rem; */
    border-radius: 0rem;
    /* border-radius: 0.25rem; */
    margin: 3rem 10px 3rem 10px;
    font-size: 17px;
  }
  .foryou-weekly button:hover {
    background: #cd6cf7;
    border: 1px solid #f2ebfb;
    color: #fff;
  }
  table {
    background-color: #fff;
    border: #dddddd;
  }
  .table {
    /* width: 100%; */
    width: 95% !important;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  table th {
    font-size: 18px;
  }
  .text-end {
    text-align: center !important;
  }
  .text-end .btn {
    padding: 0.375rem 1.35rem;
  }
  .text-end .btn:hover {
    padding: 0.375rem 1.35rem;
    border: 1px solid #ddd;
  }
  .p-5 {
    /* padding: 3rem!important; */
    padding: 0rem !important;
  }
  .btn-light {
    color: #fff;
    background-color: #cd6cf7;
    border-color: #f8f9fa;
    /* color: #000;
  background-color: #f8f9fa; */
  }

  @media (max-width: 480px) {
    .foryou-weekly {
      margin: 0rem;
    }
    .foryou-weekly button {
      margin: 1.53rem 0.03rem;
    }
    .needs-validation {
      width: 350px !important;
      margin-top: 1rem;
    }
  }

  /* admineditcontent */
  .needs-validation {
    margin-top: 3rem;
    width: 550px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 32px 10px;
  }
  /* .g-3{
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 1rem;
  } */
  .breadcrumb-item.active {
    color: #6c757d;
    font-size: 23px;
    font-weight: 600;
    color: white;
    margin: 12px auto;
  }
  .form-floating > .form-control:focus,
  .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    background-color: white;
  }
  .btn-sub {
    background-color: #cd6cf7;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
  .btn-sub:hover {
    background-color: #fff;
    border: 1px solid #dddddd;
  }
  .form-floating > label {
    font-weight: 800;
    color: black;
  }
